<h2 class="mt-5">Selectores Anidados</h2>
<hr />
<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
  <!-- REGION -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continente:</label>
      <select class="form-control" formControlName="region">
        <option value="">-- Seleccione Continente --</option>
        <!-- se pasa por el pipe de lowercase para que el texto este en miniscula -->
        <option *ngFor="let region of regiones" [value]="region | lowercase">{{region}}</option>
      </select>
    </div>
  </div>

  <!-- PAISES -->
  <div class="row mb-3" *ngIf="paises.length !==0">
    <div class="col">
      <label class="form-label">Pais:</label>
      <select class="form-control" formControlName="pais">
        <option value="">-- Seleccione Pais --</option>
        <!-- se pasa por el pipe de lowercase para que el texto este en miniscula -->
        <option *ngFor="let pais of paises" [value]="pais.alpha3Code| uppercase">{{pais.name}}</option>
      </select>
    </div>
  </div>

   <!-- FRONTERAS -->
   <div class="row mb-3" *ngIf="fronteras.length !==0">
    <div class="col">
      <label class="form-label">Fronteras:</label>
      <select class="form-control" formControlName="frontera">
        <option value="">-- Seleccione el país fronterizo --</option>
        <!-- se pasa por el pipe de lowercase para que el texto este en miniscula -->
        <option *ngFor="let frontera of fronteras" [value]="frontera.alpha3Code | lowercase">{{frontera.name}}</option>
      </select>
    </div>
  </div>

  <div class="row" *ngIf="cargando">
    <div class="col">
      <div class="alert alert-primary">
        cargando...
      </div>
    </div>
  </div>

  <!-- BUTTON-->
  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end">Guardar</button>
    </div>
  </div>
</form>

<h3>Formulario</h3>
<pre>{{ miFormulario.valid }}</pre>

<h3>Formulario</h3>
<pre>{{ miFormulario.value | json }}</pre>
